* {
  margin: 0px;
  padding: 0px; }

#body {
  background: #E59866; }

.container .container-header .navbar {
  background-color: #F1C40F !important;
  height: 150px; }

#galeria img:hover {
  width: 100%;
  border: 5px solid yellow;
  height: 250px; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

.dropdown .dropdown-menu {
  background-color: #F5B041; }

.card-body {
  background-color: #F5B041;
  padding: 10 10 10 10;
  height: 200px; }

#galeria .container {
  padding: 10 10 10 10;
  background-color: #F5B041; }

#table {
  background-color: #ABB2B9 !important; }
